<div class="row">
        <div class="col-md-12">
        <p class ="info" v-if = "info.stargazers_count">  <i class="fa fa-star" aria-hidden="true"></i> {{info.stargazers_count}}      
        &nbsp; &nbsp;      
        <i class="fa fa-code-fork" aria-hidden="true"></i>
        {{info.forks}}
        &nbsp; &nbsp;  
<a href="https://github.com/{{fullRepoUrl}}/archive/master.zip" download style="cursor:pointer" v-if = "info.stargazers_count" >Download Zip</a>
            <table class="table">
            
                <caption style="cursor:pointer" v-if="path!=='/'" >

                <!-- <a @click="choosePath(file.path)">{{ path }}</a> -->
                <span v-for="(index, section) in pathArr.slice(0, pathArr.length-1)">
                <span v-if= "index>0">/</span>
                <a @click="choosePath(index)" >{{section}}</a>
                </span>
                <span>/{{pathArr[pathArr.length-1]}}</span>
                </caption>
                <thead>

                    <tr>
                        <th>Name</th>
                        <th class="text-right"><button class="btn btn-default btn-xs" @click="goBack()" v-if="path !== '/'">Go Back</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="file in sortedFiles">
                        <td>
                            <div class="file" v-if="file.type === 'file'">
                                <i class="fa fa-file-o"></i>
                                {{file.name }}
                            </div> 
                            <div class="directory" style="cursor:pointer" v-if="file.type === 'dir'">
                                <i class="fa fa-folder-o"></i>
                                <a @click="changePath(file.path)">{{ file.name }}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <a href="{{ file.download_url }}" download v-if="file.type === 'file'">
                                <i class="fa fa-cloud-download"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>