
<div class="row" align="center">
        <div class="col-md-12">


        <img alt="" class="ui small circular image" v-if = "info.stargazers_count>=0"   src="{{info.owner.avatar_url}}" >  
        <br>
        <div class ="info" style="margin-top: 10px;" v-if = "info.stargazers_count>=0" >  <div class="ui olive tag label" v-if= "info.description" style=" overflow:hidden;width:800px;word-break:break-all;white-space:normal;font-size: 0.8em"> <b>Description : </b>{{info.description}}   </div> 
        </div>
        <br>
        <div class ="info"  v-if = "info.stargazers_count>=0">  <div class="ui green tag label"><i class="fa fa-star" aria-hidden="true"></i> {{info.stargazers_count}}   </div>   
        &nbsp; &nbsp;      
        <div class="ui green tag label"><i class="fa fa-code-fork" aria-hidden="true"></i>
        {{info.forks}}</div>
        &nbsp; &nbsp; 
         <div class="ui green tag label"><i class="fa fa-language" aria-hidden="true"></i>
        {{info.language}}</div>
        &nbsp; &nbsp; 

        </div>

        <div class="ui floating message "  style="width: 500px;background-color: rgba(244, 255, 240, 0.8)" align="center" v-else>
         <ul class="list">
        <li>Enter the <b>Full Repo Name </b>in the format of <i>username/repo.</i></li>
        <li>And then press <b>ENTER</b> key.</li>
      </ul>
        </div>
        &nbsp; &nbsp;  
        <br>

        <a href="https://github.com/{{fullRepoUrl}}/archive/master.zip" download style="cursor:pointer" v-if = "info.stargazers_count>=0" >
        <div class="ui label">
        <i class="fa fa-download" aria-hidden="true"></i>
        Download Zip
                </div>

        </a>

        <div class="ui active centered inline loader" v-show = "loading"></div>

         <div class="ui warning message " v-if="xhr.ok==false">
          <div class="header">
            Please enter correct username or repo name!
          </div>
          It is case-sensitive.
        </div>

        

            <table class="ui red table" align="center" v-if="info.stargazers_count>=0" >
            
                <caption style="cursor:pointer" v-if="path!=='/'" >

                <!-- <a @click="choosePath(file.path)">{{ path }}</a> -->
                <span v-for="(index, section) in pathArr.slice(0, pathArr.length-1)">
                <span v-if= "index>0">/</span>
                <a @click="choosePath(index)" >{{section}}</a>
                </span>
                <span>/{{pathArr[pathArr.length-1]}}</span>
                </caption>
                <thead>

                    <tr>
                        <th v-if = "info.stargazers_count>=0">Name</th>
                        <th class="text-right"><button class="btn btn-default btn-xs" @click="goBack()" v-if="path !== '/'">Go Back</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="file in sortedFiles">
                        <td>
                        <div class="file" style="cursor:pointer" v-if="file.type === 'file'">
                                <i class="fa fa-file-o"></i>
                               <a @click.prevent="chooseFile(file.path)" >{{file.name}}</a>

                            </div> 
                        <div class="directory" style="cursor:pointer" v-if="file.type === 'dir'">
                                <i class="fa fa-folder-o"></i>
                                <a @click="changePath(file.path)">{{ file.name }}</a>
                            </div>
                            
                            
        
                        </td>
                        <td class="text-right">
                            <a href="{{ file.download_url }}" download v-if="file.type === 'file'">
                                <i class="fa fa-cloud-download"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>

            <table class=" ui teal table" v-if = "info.stargazers_count>=0" v-show = "readme">
            <thead>
                <tr><th colspan="3">
            <i class="fa fa-book" aria-hidden="true" style="font-size: 15px" v-if = "info.stargazers_count>=0">
            README.md</i>               
             </th>
              </tr></thead>
            <tbody>
            <tr><td>
            <div class="demo" style="text-align: left;" v-if = "info.stargazers_count>=0" >{{{display}}}</div>
            </td></tr>
            </tbody>
            </table>
<div class="ui long modal" style= "overflow: auto">

<table class="space ui teal table" v-if = "info.stargazers_count>=0" v-show= "showFile">
            <thead>
                <tr><th colspan="3">
            <i class="fa fa-book" aria-hidden="true" style="font-size: 15px" v-if = "info.stargazers_count>=0">
            {{fileName}}</i>               
             </th>
              </tr></thead>
            <tbody>
            <tr ><td>
            <div align="left" v-if="info.stargazers_count>=0" >
            <pre>
            <code class="{{types}}" id="demo1" v-html="ext">
            </code> 
            </pre>
                </div>
                </td></tr>
            </tbody>
            </table>
            </div>
            
            
        </div>
    </div>
<style type="text/css">
    .demo img{
        max-width: 90%;
        max-height: 90%;
    }
.space.ui.table td {
    padding: 0px !important;
    padding-bottom: 0.25em !important;
    padding-top: 0px  !important;
    padding-left: .78571429em !important;
}
</style>

